<!-- works -->
<div id="startups"  class=" clearfix grid"> 
  <figure *ngFor="let startup of startups| async"  class="effect-oscar  wowload fadeIn">
      <img src="https://img.youtube.com/vi/{{ startup.url }}/hqdefault.jpg" alt="{{ startup.titulo }}"/>
      <figcaption>
          <h2>{{ startup.titulo }}</h2>
          <p><br>
          <a [routerLink]="['startup', startup.key]" title="{{ startup.nome_autor }}" data-gallery>Saiba Mais</a></p>            
      </figcaption>
  </figure>
</div>
<!-- works -->