<!--Contact Starts-->
<div id="contact" class="spacer">

  <div class="container contactform center">
  <h2 class="text-center  wowload fadeInUp">Entre em contato</h2>
    <div class="row wowload fadeInLeftBig">      
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">      
          <input type="text" type="text" placeholder="Name">
          <input type="text" type="email" placeholder="Email">
          <textarea rows="5" placeholder="Messagem"></textarea>
          <button class="btn btn-primary"><i class="fa fa-paper-plane"></i> Enviar</button>
        </div>
    </div>
  
  
  
  </div>
  </div>
  <!--Contact Ends-->