<!-- <app-header></app-header> -->
<!-- About Starts -->
<div class="highlight-info">
  <div class="overlay">
      <div class="container">
          <div class="row wowload fadeInDownBig">
              <div class="col-sm-12 col-xs-12">
                  <i class="fa fa-smile-o  fa-5x"></i>
                  <h1 style="margin-top:70px">{{ pitch.titulo }}</h1>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- About Ends -->
<!-- Cirlce Starts -->
<div id="about" class="container spacer about" style="padding-top: 40px;">        
  <!-- <h2 class="text-center wowload fadeInUp" >{{ pitch.autor }}</h2> -->
  <div class="row">
      <div class="col-sm-8 wowload fadeInLeft">
        <div class="video-container">
            <iframe class="e2e-iframe-untrusted-src" width="853" height="480" [src]="url" frameborder="0" allowfullscreen></iframe>
          </div>
      </div>
      <div class="col-sm-4 wowload fadeInRight">
          <h4><i class="fa fa-youtube-play"></i> {{ pitch.titulo }}</h4>
    </div>
      <div class="col-sm-4 wowload fadeInRight">
            <h4><i class="fa fa-user"></i> {{pitch.autor}}</h4>
      </div>
      <div class="col-sm-4 wowload fadeInRight">
            <h4><i class="fa fa-tags"></i> {{pitch.categoria}}</h4>
      </div>
      <div class="col-sm-4 wowload fadeInRight">
            <h4><i class="fa fa-pencil-square-o"></i> Descrição</h4>
            <p>{{pitch.descricao}}</p>
      </div>
      <div class="col-sm-4 wowload fadeInRight">
          <button type="button" class="btn btn-primary" data-toggle="modal" (click)="update()" data-target="#exampleModal">
              Fale com a Start UP
          </button>
    </div>
  </div>
  <div class="row">
    <!-- Button trigger modal -->
    <div class="text-center">
        <!-- <button type="button" class="btn btn-primary detailsButton" data-toggle="modal" (click)="update()" data-target="#exampleModal">
            Desejo Entrar em Contato com a StartUp
        </button> -->
    </div>
    </div>
  
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Informações de Contato</h5>
        </div>
        <div class="modal-body">
          {{pitch.info_contato}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary detailsButton" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- #Cirlce Ends -->
<app-footer></app-footer>