<!-- <app-header></app-header> -->
<!-- About Starts -->
<div class="highlight-info">
  <div class="overlay">
      <div class="container">
          <div class="row wowload fadeInDownBig">
              <div class="col-sm-12 col-xs-12">
                  <i class="fa fa-smile-o  fa-5x"></i>
                  <h3 style="margin-top: 5em">Startup</h3>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- About Ends -->
<!-- Cirlce Starts -->
<div id="about" class="container spacer about">
  <h2 class="text-center wowload fadeInUp">Nome da Startup</h2>
  <div class="row">
      <div class="col-sm-8 wowload fadeInLeft">
          <h4>
              <i class="fa fa-youtube-play "></i> Pitch</h4>
              <div class="video-container" style="margin-top: 29px;"><iframe width="853" height="480" src="https://www.youtube.com/embed/z9Ul9ccDOqE" frameborder="0" allowfullscreen></iframe></div>
      </div>
      <div class="col-sm-4 wowload fadeInRight">
          <h4>
              <i class="fa fa-pencil-square-o"></i> Descrição</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
              it to make a type specimen book.</p>
      </div>
  </div>
  <div class="row">
    <!-- Button trigger modal -->
    <div class="text-center">
        <button type="button" class="btn btn-primary detailsButton" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
        </button>
    </div>
    </div>
  
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Contato</h5>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- #Cirlce Ends -->
<app-footer></app-footer>